html {
background-color: yellow;
text-align: justify;
margin: 1px 0px 1px 0px;
border:1px solid orange;
}
body {
  font: normal 20px Serif;
  box-shadow: 1px 1px;
  text-shadow: 1px 1px 1px yellow;
}
