html {
background-color: yellow;
text-align: center;
margin: 1px 0px 1px 0px;
border:1px solid orange;
}
header {  
  box-shadow: 1px 1px;
  text-shadow: 1px 1px 1px yellow;
}
body {
  font: normal 20px Serif;
}
img {
   border:20px solid;
}
